{% for answer in answers %}
  <div class="card custom-bg-card text-light border border-light mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <div style="height: 100px;" class="border mb-2 w-100">
            <img src="{{ answer.author.avatar.url }}" alt="avatar" class="img-fluid h-100" />
          </div>
          <div>
            <input type="number" class="form-control custom-bg-card text-light w-50" value="{{ answer.likes.count }}" readonly />
          </div>
        </div>
        <div class="col d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title">{{ answer.author.user.username }}</h5>
            <p class="card-text">{{ answer.text }}</p>
          </div>
          <div class="row">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="answer-{{ answer.id }}" {% if answer.is_correct %}checked{% endif %} disabled />
              <label class="form-check-label" for="answer-{{ answer.id }}">Correct!</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% empty %}
  <p class="text-light">No answers yet. Be the first!</p>
{% endfor %}
