{% load static %}
<div class="card custom-bg-card text-light border border-light">
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <div style="height: 100px;" class="border mb-2 w-100">
          <img src="{% static '/img/c++.webp' %}" alt="img" class="img-fluid h-100" />
        </div>
        <div>
          <input type="number" class="form-control custom-bg-card text-light" value="5" />
        </div>
      </div>
      <div class="col d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title"><a href="{% url 'question' question.id %}">{{ question.title }}</a></h5>
          <p class="card-text">{{ question.text }}</p>
        </div>
        <div class="row">
          <div class="col">
            <a href="{% url 'question' question.id %}">Answers (3)</a>
          </div>
          <div class="col">
            <span>Tags:</span>
            {% for tag in question.tags.all %}
              <span class="badge rounded-pill text-bg-success"><a href="{% url 'tag' tag %}" class="text-white text-decoration-none">{{ tag }}</a></span>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
